
Linux Ubuntu 

Es un sistema operativo de software libre y código abierto. Es una distribución de Linux basada en Debian. Puede correr en computadores de escritorio y servidores. Está orientado al usuario promedio, con un fuerte enfoque en la facilidad de uso y en mejorar la experiencia del usuario.

Fecha del lanzamiento inicial: 20 de octubre de 2004
Interfaz de usuario predeterminada: GNOME
Actualizar método: Software Updater
Sistema de gestión de paquetes: dpkg + APT, destacando front-ends como GNOME Software
Última versión estable: 20.10 (Groovy Gorilla)
Lenguajes de programación: Python, Java, C, C++, C#
