
¿Qué es IoT?

El Internet of Things (IoT) describe la red de objetos físicos (cosas) que llevan sensores integrados, software y otras tecnologías con el fin de conectar e intercambiar datos con otros dispositivos y sistemas a través de Internet. Estos dispositivos abarcan desde objetos domésticos cotidianos hasta sofisticadas herramientas industriales. Con más de 7.000 millones de dispositivos de IoT conectados en la actualidad, los expertos prevén que este número aumentará hasta llegar a 10.000 millones en 2020 y a 22.000 millones en 2025.
